
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 200px 0.5fr 1fr 1fr;
  column-gap: 1em;
  justify-items: center;
  grid-template-areas: "title title"
                        "input input"
                        "map info"
                        "map info"
                        
}

.header{
  grid-area:title
}

.input {
  grid-area: input;
}

.buttons {
  grid-area: buttons;
}

.map {
  grid-area: map;
  height: 50vh;
  width: 50vw;
  margin-left: 1vw;
}

.information {
  grid-area: info;
  align-self: center;
  justify-items: center;
}

input[type=text] {
  background-color: #a0d1ff;
  border: none;
  border-bottom: 4px solid brown;
}

#inputForm {
  font-size: 3em;
  width: 50vw;
}

.btn-primary {
  padding: 10px;
  margin-left: 10px;
}

#city {
  font-size: 42px;
  font-weight: bold;
  margin-left: 0.4em;
}

.header h1 {
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

#heading:after {
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 50%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 3px solid brown; /* This creates the border. Replace black with whatever color you want. */
}




